
<div class="container">
  <div class="card">
    <p class="card-header"> User Details</p>
<div class="body">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{status}}</td>
      </tr>
    </tbody>
  </table>

<button class="btn btn-primary" (click)="inActive()" [disabled]="clickactive1">InActive</button>
<button class="btn btn-primary" (click)="active()" [disabled]="clickactive2">Active</button>
</div>
</div>
</div>